.wrapper {
  margin-top: 4em;
}

.user_info {
  max-width: inherit;
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
}

.credentials {
  align-content: center;
  padding-left: 2em;
}

.name {
  font-size: 1.8em;
  margin-bottom: 0.2em;
}
