$themeOrange: #f98866;
$themeAddOrange: rgba(249, 136, 102, 0.7);

$themeYellow: #fb0;
$themeAddYellow: rgba(255, 187, 0, 0.7);

$themeBlue: #375e97;
$themeAddBlue: rgba(54, 92, 150, 0.7);

$themeGreen: #3f681c;
$themeAddGreen: rgba(63, 104, 28, 0.7);

$themeGray: #ced4da;
$themeAddGray: rgba(206, 212, 218, 0.7);

$themeWhite: #fff;
$themeAddWhite: rgba(255, 255, 255, 0.7);

$themeBlack: #000;
$themeAddBlack: rgba(0, 0, 0, 0.7);

$themeRed: #f00;
$themeAddRed: rgba(255, 0, 0, 0.7);
