$maxDeviceHeight: 780px;
$maxDeviceWidth: 600px;

.counterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  font-size: 12px;

  .counter {
    @media screen and (max-device-height: $maxDeviceHeight) {
      font-size: 1.2em;
    }

    font-size: 1.5em;
    margin: 0 8px;
  }

  button {
    @media screen and (max-device-height: $maxDeviceHeight) {
      font-size: 0.7em;
      height: 20px;
    }

    line-height: 12px;
    font-size: 12px;
    border-radius: 6px;
  }
}

.btn-outline-info {
  width: 200px;
}
